*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color:white;
}

@media screen and (max-width: 480px){

}

@media screen and (min-width: 481px) and (max-width: 768px){

}

@media screen and (min-width: 769px) and (max-width: 1199px){

}

@media screen and (min-width: 1200px){
	.nav-um{
		display: flex;
		margin: 0 auto;
		width: 1280px;
		height: 37px;
		background:#041E50;
	}

	nav-um a{
		text-align: center;
		font-size: 10px;
	}

	li{
		width: calc(1280 / 4);
		padding-left: 50px;
		text-decoration: none;
		display: inline-block;
	}
}