/**general**/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav-um a{
	padding:10px 0;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 10px;
	text-decoration: none;
	color:white;
	background:#041E50;
}

.header{
	width: 1280px;
	margin: 0 auto;	
}

.icon{
	vertical-align: middle;
	margin-left: 10px;
	position: relative;
	left: -20px;
	top: -2px;
}

/**small Smartphone**/
@media screen and (max-width: 480px){
		.header{
			display: flex;
		}
		.nav-um{
		margin: 0 auto;
		display: none;
		flex-direction: column;
		height: 37px;	
	}

	.nav-um a{ 
		border-left: none;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}
/**medium Smartphones**/
@media screen and (min-width: 481px) and (max-width: 768px){
	.nav-um{
		margin: 0 auto;
		display: none;
		flex-direction: column;
		height: 37px;	
	}

	.nav-um a{ 
		width: 100%;
	}

}
/**Large Smartphones and Notebooks**/
@media screen and (min-width: 769px) and (max-width: 1199px){
	.nav-um{
		display: flex;	
	}

	.nav-um a{ 
		border-left:1px solid #C4C4C4;
		width: 25%;
	}

	.botaoMob{
		display: none;
	}
}
/**xlarges screen**/
@media screen and (min-width: 1200px){

/**header**/
	.nav-um{
		margin: 0 auto;
		display: flex;
		max-width: 1280px;
		height: 37px;	
		
	}

	.nav-um a{
		font-family: 'Lato', sans-serif;
		border-left:1px solid #888;
		width: 25%;
		vertical-align: middle;
		text-align: center;
		font-size: 10px;
	}

	.nav-um span{
		font-weight: bold;
	}

	.botaoMob{
		display: none;
	}

	.pes{
		border: none;
	}

	.icon1{
		position: relative;
		width:17px;
		height: 21px;
	}

	.icon2{
		position: relative;
		width: 19px;
		height: 19px;
	}

	.icon3{
		position: relative;
		width:17px;
		height:17px;
	}

	.icon4{
		width: 24px;
		height: 17px;
		
	}

	.centro{
		width: 1280px;
		height: 40px;
		position: relative;
		margin: 15px 0;
		padding: 20px 0;
	}

	.pesquisa{
		left: 50%;
		position: relative;
		left: -32px;
		top: 7PX;
	}

	.logo{
		margin-left:30px ;
	}
	
	.search{
		position: relative;
		top: -5;
		vertical-align: middle;
	}

	.telefone{
		float: right;
		position: relative;
		vertical-align: middle;
		top: 5px;
	}

	.address{
		float: right;
		top: 5px;
		position: relative;
		vertical-align: middle;	
	}

	.image-galery{
		margin: 0 auto;
		max-width: 1280px;
	}

	.instrumentos{
		margin: 0 auto;
		display: flex;
		max-width: 1280px;
	}

	.inst-single{
		padding:15px 0;
		margin-left: 100px;
		width: 25%;
	}

	.inst-single H2{
		margin-left: 25px;
		text-align: left;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		color: #C4C4C4;
	}

	.banner_som{
		margin: 0 auto;
		max-width:1280px;
	}

	.banner1{
		float: left;
		width: 640px;
		height: 386px;
		background-image: url("/img/SRH-1.png");
		background-repeat: no-repeat;
		background-size:cover;
	}

	.banner2{
		float: right;
		width: 640px;
		height: 386px;
		background-image: url("/img/MSe-3.png");
		background-repeat: no-repeat;
		background-size:cover;
	}

	.banner_som h2{
		text-align: justify;
		color: white;
		position: relative;
		top: 50%;
		left: 40%;
		
	}

.banner_som button{
		color: white;
		border: 1px solid white;
		border-radius: 6px;
		width: 155px;
		height: 50px;
		background: transparent;
		position: relative;
		top: 210px;
		left: 40%;
	}

}